In [1]:
#Q.1- Create one variable containing following type of data:
#(1)- string
#(2)- list
#(3)- float
#(4)- tuple

In [2]:
#solve- 
var = [(1,5.6,True),"vaishu",55.3]

In [3]:
#Q.2- Given are some following varibles containing data:
#1- var1=""
#2- var2='[DS,ML,Python]'
#3- var3=['DS','ML','Python']
#4- var4=1.

# what will be the data type of the above given variable.

In [4]:
#solution- 
#1- <class 'str'>
#2- <class 'str'>
#3- <class 'list'>
#4- <class 'float'>

In [5]:
#Q.3- Explain the use of the following operators using an example:
#1- /
#2- %
#3- //
#4- **

In [7]:
#solution- All given operators are arithmetic operators. 
#1- / :- / it operator name is division (float) operator . divides the first operand by the second. it is an arithmetic operator that is used with numeric values to perform common mathemetical operations:
#example: x = 12
#-        y = 3
#-        print(x/y)

#output: 4.0

#2- % :- % it is modulus operator.returns the remainder when the first operand is divided by the second .
#example: x = 5
#-        y = 2
#-        print(x%y)

#output: 1

#3- // :- // it is it is floor division operator.divides the first operand by the second.
#example: x = 15
#-        y = 2
#         print(x//y)

#output: 7

#4- ** :- ** it is Exponentiation operator. it also called power or exponent operator. returns first raised to power second.
#example: x = 2
#-        y = 5
#-        print(x**y) 
# same as 2*2*2*2*2
#output: 32

In [8]:
#Q.4- create a listof length 10 of your choice containing multiple types of data. using for loop print the element and its data type.

In [9]:
#solution:
l = [1,2,3,88.6,"vaishu",(1,2,55.6),True,False,"pwskills",8]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
88.6
<class 'float'>
vaishu
<class 'str'>
(1, 2, 55.6)
<class 'tuple'>
True
<class 'bool'>
False
<class 'bool'>
pwskills
<class 'str'>
8
<class 'int'>

In [10]:
#Q.5- using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
#solution:
A = int(input("enter the number"))
B = int(input("enter the number"))
while (A>0):
    if A % B == 0:
        print(A // B)
        A-=1

enter the number 96
enter the number 2

48

In [ ]:
#Q.6- create a list containing 25 int type data using for loop and if-else condition print if the element is divisible by 3 or not.

In [3]:
#solution:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i % 3 == 0:
        print(i,"is divisible by 3",)
    elif i % 3 != 0:
        print(i," is not divisible by 3 ")

1  is not divisible by 3
2  is not divisible by 3
3 is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6 is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9 is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12 is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15 is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18 is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21 is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24 is divisible by 3
25  is not divisible by 3

In [1]:
#Q.7- What do you understand about mutable and immutable data types?give examples for both showing this property.

In [2]:
#solution:
#mutable data types:- in python ,mutability refers to the capability of an object to be changed or modified after its creation.
#example:list,dictionary,set
#example 1: Add and remove items from a list in python -
a = [1,2,3]
a.append(4)
print(a)

a.insert(1,5)
print(a)

a.remove(2)
print(a)

b = a.pop(0)
print(a)
print(b)

[1, 2, 3, 4]
[1, 5, 2, 3, 4]
[1, 5, 3, 4]
[5, 3, 4]
1

In [3]:
#immutable data types:- immutable objects are of in - built datatypes like int,float,bool,string,unicode,and tuple.
#in simple words, an immutable object can't be changed after it is created.
#example 2:
# in this example ,we will take a tuple and try to modify its value at a particular index and print it. As a tuple is an immutable object ,it will throw n error when we try to modify it.

tuple = (0,1,2,3)
tuple[0] = 4
print(tuple)

TypeError: 'tuple' object does not support item assignment